@media print {
    html, body {
	width: 190mm;
	height: 277mm;
    }
    @page {
	margin: 10mm;
	margin-bottom: 0;
	padding: 0in;
	size: 210mm 297mm;
    }
    /* ... the rest of the rules ... */
}
div.pvframe{
    border: 0.25px dashed;
}
p, ul, ol, dl { margin: 0;}
ol {
    margin:0px 0;
    padding:0;
}

ol li 
{
    margin: 0px;
    padding: 0px;
    text-indent: 0em;
    margin-left: 1.4em;
}
p {  margin-bottom: 4pt; }
/*title*/
h1.title {
    font-size: 11.3pt;
    line-height: 133%;
    font-weight: bold;
    font-family: Arial, Helvetica, 'IPAexGothic', sans-serif;
    margin: 0;
    margin-bottom: 4pt;
}
/*authors and affils*/
h2.preview {
    font-size: 8.48pt;
    line-height: 133%;
    font-weight: normal;
    font-family: Arial, Helvetica, 'IPAexGothic', sans-serif;
    margin: 0;
    margin-bottom: 4pt;
}
/*minor title*/
h2.title {
    font-size: 9.19pt; /*slightly larger*/
    line-height: 133%;
    font-weight: bold;
    font-family: Arial, Helvetica, 'IPAexGothic', sans-serif;
    margin: 0;
    margin-bottom: 4pt;
}
/* 1-column Abstract */
div.preview1 {
    font-size: 8.48pt;
    line-height: 133%;
    font-family: 'Times New Roman', 'IPAexMincho', 'Noto Serif JP', Times, serif;
    text-align: justify;
    margin: 0;
    margin-top: 5.66pt;
}
/* 2-column body */
div.preview2 {
    columns: 1;
    height: 100%;
    font-size: 8.48pt;
    line-height: 133%;
    column-fill: balance-all;
    -webkit-column-fill: balance-all;
    font-family: 'Times New Roman', 'IPAexMincho', 'Noto Serif JP', Times, serif;
    text-align: justify;
    margin: 0;
    margin-top: 8.48pt;
}
#abst_main div {
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;
    width: 353px;
    float: right;
    margin: 5px;
    padding: 5px;
    border: 0.25px solid #888;
}
img.preview {
    object-fit: cover;
    width: 353px;
    height: 177px;
}
sup {
    line-height: 0;
}
sub {
    line-height: 0;
}
div.label {
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-size: 64pt;
    color: #ccc;
    font-weight: bold;
    font-family: Arial, Helvetica, 'IPAexGothic', sans-serif;
    z-index: -1;
}    
div.appendix{
}
th, td {
    border: 0.25px solid #888;
    padding: 4px;
    margin: 0;
}
th {
    width: 40mm;
}
table{
    font-size: 10pt;
    width: 190mm;
    border-collapse: collapse;
}
  
