.vscode/

*.jpg
*.pdf
.ht*
*~
setting.yaml
Sympo/*/*
*.tsv

parsed/

history/

chem/

riis/

attach/

html/

tn/
master/
search/
pdf/

img/
/sheet/
/verify/
*.pyc

data.js
index.js
6.json
data.json
index.json
master+pid.js
master+pid.json
mtitles.js
mtitles.json
*.txt
test.png
*xlsx
zoom.js
zoom.json
pre.json
remo.js
remo.json
ads.js
ads.json
@*
