.vscode/
build/

*.jpg
*.pdf
.ht*
*~
setting.yaml
Sympo/*/*
*.tsv

parsed/

history/

riis/

attach/

html/

tn/
master/
search/
pdf/

img/
/sheet/
/verify/
*.pyc

data.js
index.js
6.json
data.json
index.json
master+pid.js
master+pid.json
mtitles.js
mtitles.json
*.txt
test.png
*xlsx
zoom.js
zoom.json
pre.json
remo.js
remo.json
ads.js
ads.json
@*
71371.html
1658197596.tab
1661415966.json
72131.json
1658156266.json
master.2022-08-25.json
master.json
oral.json
PE1-06_同志社院_田中皐晴.tif
tmp.html
1/test.py
master2021.json
