.vscode/
build/

*.jpg
*.pdf
.ht*
*~
setting.yaml
Sympo/*/*
*.tsv

parsed/

history/

riis/

attach/

html/

tn/
master/
search/
pdf/

img/
/sheet/
/verify/
*.pyc

data.js
index.js
6.json
data.json
index.json
master+pid.js
master+pid.json
mtitles.js
mtitles.json
*.txt
test.png
*xlsx
zoom.js
zoom.json
pre.json
remo.js
remo.json
ads.js
ads.json
@*
71371.html
1658197596.tab
1661415966.json
72131.json
1658156266.json
master.2022-08-25.json
master.json
oral.json
PE1-06_同志社院_田中皐晴.tif
tmp.html
1/test.py
master2021.json
AD/preparead.py
錯討10159.pages/Index.zip
錯討10159.pages/Data/bullet_gbutton_gray-30.png
錯討10159.pages/Data/image1-small-32.png
錯討10159.pages/Metadata/BuildVersionHistory.plist
錯討10159.pages/Metadata/DocumentIdentifier
錯討10159.pages/Metadata/Properties.plist
AD/プログラム広告掲載企業リスト.docx
.ipynb_checkpoints/verify2022-checkpoint.ipynb
72sympo/re72/01_受賞講演プログラム5.docx
錯討10159.docx
錯討10159.png
master-v2.json
master-original.json
1661857944.json
1661776658.json
chem.htpasswd
master-v1.json
Sympo/Sympo.json
Sympo/sympo72.json
Sympo/Sympo2021.json
Award/award.json
Award/award71.json
Award/award72.json
Award/re72-2.zip
Award/re72.zip
72sympo/02_Symposium_program2.docx
72sympo/re72.zip
72sympo/S1-01.zip
72sympo/re72/~$_受賞講演プログラム5.docx
72sympo/re72/02_Symposium_program2.docx
