* {
  padding: 0px;
  margin:  0px;
}
div.post {
  margin: 2px;
}
div.foot {
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h1.post-title {
  padding: 10px;
  text-align: center;
  background-color: #fff;
}
h2.sec {
  padding: 10px;
  text-align: center;
  background-color: #fff;
}
p.intro {
  padding: 5px;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
}
div.credit {
  font-size: 80%;
  color: #888;
  text-align: center;
}
div.intro {
  text-align: center;
}
p.sea {
  padding: 0px 5;
}
body{
  font-family: Helvetica, Ariel, sans-serif;
  font-size: 10pt;
}
div.wrap{
  max-width: 750px;
  background-color:#f0f0f0;
  margin: 0 auto; //centering
}
td{
  margin:0;
  padding:0 0 1em 0.5em;
}
table {
  margin: 2px;
}
table tr.r:nth-child(odd){
  background-color: #e0e0e0;
}
table td.c{
  vertical-align: middle;
  padding:0.5em;
}
table.c{
  margin-left: auto;
  margin-right: auto;
}
}

@media screen and (min-width: 550px) {
  table tr.r{
    display: flex;           /* flexコンテナ化 */
    flex-direction: row;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 550px) {
  tr.r {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  td.i { justify-content: center; }
}
table tr.r{
  margin: 0px;
}
a.l, span.l{
  font-size:150%;
  font-weight:bold;
  text-decoration: none;
}
td.l{
  min-width: 80px;
  vertical-align: top;
  text-align: left;
  justify-content: left;
}
div.m{
  color: #808080;
  background-color: #fff;
}
span.ti{
  font-weight:bold;
}
td b{
  color:#666600;
  background-color:#ffffdd;
  font-weight:bold;
  border:1px solid #bbbb00;
  margin:0 2px 0 2px;
  padding:0 2px 0 2px;
}

div.ttpanel {
  display: flex;
  flex-wrap: wrap;
}
th.row {
  width: 64px;
  background-color: #fff;
}
th.right {
  font-size: 80%;
  vertical-align: top;
  background-color: #fff;
  text-align: left;
  min-width: 45px;
}
th.time {
  font-size: 80%;
  background-color: #fff;
}
th.corner {
  width: 64px;
  font-size: 150%;
  padding: 10px 10px 0;
}
th.cornerw {
  min-width: 128px;
  font-size: 150%;
  padding: 10px 10px 0;
}
td.row, th.col {
  text-align: center;
  padding: 2px 2px 0;
  width: 22px;
}
th.roww {
  padding: 2px 2px 0;
  min-width: 22px;
  text-align: right;
}
td.fr{
  text-align: right;
  padding-left: auto;
}
tr.header{
  background-color: #fff;
}
tr.row{
  background-color: #888;
  height: 25px;
}
[type="checkbox"]{
  width: 1.75em;
  height: 1.75em;
}


#navi{
  margin:0.5rem 0;
  line-height:2rem;
}
#navi span{
  border-top:1px solid #d8d8d8;
  border-bottom:1px solid #d8d8d8;
  padding: 0.33rem 0.66rem;
  cursor:pointer;
  word-wrap:break-word;
}
#navi span.selected{
  background: #D3EDF7;
}
#navi span:first-child{
  border-left:1px solid #d8d8d8;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}
#navi span:last-child{
  border-right:1px solid #d8d8d8;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

#searchbox input{
  font-size: 0.8rem;
  padding: 0.25rem;
  margin-bottom: 0.2rem;
}
@media (max-width: 15em) {
  #navi{
    width:300px;
  }
}

/* tabs using CSS https://bagelee.com/design/css/create_tabs_using_only_css/ */

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 700px;
  margin: 0 auto;
}


.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 10px 10px 0;
  clear: both;
  overflow: hidden;
}



/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}


/*囲み=リンク*/
.zm{
  border-radius: 5px 5px 5px;
  border: 1px solid blue;
  color: blue;
  font-size: 90%;
  background-color: #cacaff;
  padding: 2px;
  text-decoration: none;
}

.rm{
  border-radius: 5px 5px 5px;
  border: 1px solid red;
  color: red;
  font-size: 90%;
  background-color: #ffcaca;
  padding: 2px;
  text-decoration: none;
}

/*通常サイズのリンクボタン*/
a.lk, span.lk{
  border-radius: 5px 5px 5px;
  border: 1px solid #ccc;
  font-size: 90%;
  padding: 2px;
  text-decoration: none;
  color: black;
  background-color: white;
}

/*大きな文字のリンクボタン*/
span.lk2{
  border-radius: 5px 5px 5px;
  border: 1px solid #ccc;
  font-size: 120%;
  font-weight: bold;
  padding: 4px;
  color: black;
  background-color: white;
  text-decoration: none;
  margin-right: 3px;
  line-height: 200%;
}

/*リンクボタン枠のみ*/
div.lk{
  border-radius: 5px 5px 5px;
  border: 1px solid #ccc;
  padding: 4px;
  color: black;
  background-color: white;
  margin-right: 3px;
  line-height: 200%;
}
/*大きな文字 枠なし*/
a.b{
  font-size: 120%;
  font-weight: bold;
  color: black;
  text-decoration: none;
  line-height: 200%;
}
/*小さな文字 枠なし*/
a.s{
  font-size: 120%;
  font-weight: bold;
  color: black;
  text-decoration: none;
  line-height: 200%;
}

/* https://allabout.co.jp/gm/gc/459917/3/ */
/*タブのスタイル*/
.tab_item {
  width: calc(100%/5); /* 5 tabs 2021 */
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

/*選択されているタブのコンテンツのみを表示*/
#day1_tab:checked ~ #day1_content,
#day2_tab:checked ~ #day2_content,
#day3_tab:checked ~ #day3_content,
#day4_tab:checked ~ #day4_content,
#ad_tab:checked ~ #ad_content {
  display: block;
}
